<app-header></app-header>
<div class="container d-flex justify-content-center">
   <div class="dropdowns mb-4">
    <div class="dropdown me-4">
        <a class="btn delta-btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{selectedDelta}}
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" value="delta"
                    (click)="selectdelta($event)">Delta</a></li>
            <li><a class="dropdown-item" href="#" value="Delta21_14"
                    (click)="selectdelta($event)">Delta21_14</a></li>
            <li><a class="dropdown-item" href="#" value="delta7"
                    (click)="selectdelta($event)">Delta7</a></li>
        </ul>
    </div>
    <div class="dropdown me-4">
        <a class="btn delta-btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{State}}
        </a>

        <ul class="dropdown-menu">
             @for(country of countryNames; track $index){
            <li><a class="dropdown-item" href="#" value="delta"
                (click)="selectState($event)">{{country}}</a></li>
        }
        
        </ul>
    </div>
    <div class="dropdown me-4">
        <a class="btn delta-btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{selectedDistrict ?? districts[0]}}
        </a>

        <ul class="dropdown-menu"> @for(district of districts; track $index){
            <li><a class="dropdown-item" href="#" value="delta" (click)="selectDistrict($event)"
                >{{district}}</a></li>
        }
        
        </ul>
    </div>
   </div>
    
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
        <app-dashboard [selectedState]="State" [selectedDelta]="selectedDelta" [selectedDistrict]="selectedDistrict"></app-dashboard>
    </div>
    
</div>
